.mecab-sweet-admin-wrap h2 .dashicons {
  width: 29px;
  height: 29px;
  font-size: 29px; }
.mecab-sweet-admin-wrap input[type=number] {
  width: 8em; }
.mecab-sweet-admin-wrap input.long-text {
  width: 90%; }

.mecab-jumbotron {
  position: relative;
  padding: 2em 2em 2em 200px;
  min-height: 150px; }
  .mecab-jumbotron .eyecatch {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 15px; }
  .mecab-jumbotron .example {
    display: none; }
    .mecab-jumbotron .example.toggle {
      display: block; }
    .mecab-jumbotron .example pre {
      padding: 1em;
      background-color: #fff; }
      .mecab-jumbotron .example pre .comment {
        color: #ccc; }
      .mecab-jumbotron .example pre .keyword {
        color: #d16755; }
      .mecab-jumbotron .example pre .string {
        color: #3888a5; }
      .mecab-jumbotron .example pre .variable {
        color: #dd6b38; }
      .mecab-jumbotron .example pre .method {
        color: #9d9d00; }

.wrap .alert {
  color: #c23607; }
.wrap .warning {
  color: #dd742e; }

.mecab-status {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%; }
  .mecab-status caption {
    font-size: 1.5em;
    padding: 1em 0; }
  .mecab-status th, .mecab-status td {
    padding: 1em 1.5em;
    background-color: #f9f9f9;
    border-left: 1px dotted #ddd; }
  .mecab-status thead th {
    border-top: 3px double #ddd;
    border-bottom: 3px double #ddd; }
    .mecab-status thead th:first-child {
      border-left: none; }
  .mecab-status tbody th {
    white-space: nowrap;
    border-left: none; }
  .mecab-status tbody th, .mecab-status tbody td {
    border-bottom: 1px solid #ddd; }
  .mecab-status tbody tr:nth-child(odd) th, .mecab-status tbody tr:nth-child(odd) td {
    background-color: #ffffff; }
  .mecab-status .status {
    text-align: center; }
  .mecab-status .on, .mecab-status .off {
    display: inline-block;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-family: monospace; }
  .mecab-status .on {
    background-color: #008000; }
  .mecab-status .off {
    background-color: red; }

.result-window {
  background-color: #000;
  color: #fff;
  padding: 1em;
  font-family: monospace; }
  .result-window h4 {
    font-weight: normal; }
  .result-window .indicator {
    height: 1em;
    background-color: #444; }
    .result-window .indicator div {
      background-color: #406d4a;
      height: 100%;
      width: 0; }

.loading .result-window {
  display: block; }

#form-message {
  height: 12em;
  line-height: 1.2;
  overflow: auto; }
  #form-message span, #form-message strong {
    display: block; }
  #form-message strong {
    color: red; }

#form-message.loading {
  background: url("../img/ajax-loader.gif") center center no-repeat; }

.dictionary-compiler {
  cursor: pointer; }
  .dictionary-compiler + img {
    display: none; }
  .dictionary-compiler.disabled + img {
    display: inline-block; }

#token-result {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  background-color: #f9f9f9; }
  #token-result a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 3px;
    font-size: 0.85em;
    display: inline-block;
    margin-right: 1em; }
    #token-result a:link, #token-result a:visited {
      background: #2ea2cc;
      border-color: #0074a2;
      color: #fff;
      text-decoration: none; }
    #token-result a:hover, #token-result a:active {
      text-decoration: none;
      color: #fff;
      background-color: #2581a2; }

#mecab-admin-footer {
  position: relative;
  background-color: white;
  margin-top: 2em;
  padding: 2em;
  overflow: hidden;
  *zoom: 1; }
  #mecab-admin-footer .fork-me {
    position: absolute;
    right: 0;
    top: 0; }
  #mecab-admin-footer .fb-like-box {
    float: right;
    margin-left: 2em; }
  #mecab-admin-footer ul {
    margin-right: 300px; }
    #mecab-admin-footer ul li {
      margin: 10px 0; }
      #mecab-admin-footer ul li a {
        display: block;
        padding: 10px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; }
        #mecab-admin-footer ul li a:link {
          text-decoration: none; }
        #mecab-admin-footer ul li a:hover {
          background-color: #f9f9f9; }
