/* line 6, ../scss/mecab-admin.scss */
.mecab-jumbotron {
  position: relative;
  padding: 2em 2em 2em 200px;
  min-height: 150px; }
  /* line 10, ../scss/mecab-admin.scss */
  .mecab-jumbotron .eyecatch {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 15px; }
  /* line 16, ../scss/mecab-admin.scss */
  .mecab-jumbotron .example {
    display: none; }
    /* line 18, ../scss/mecab-admin.scss */
    .mecab-jumbotron .example.toggle {
      display: block; }
    /* line 21, ../scss/mecab-admin.scss */
    .mecab-jumbotron .example pre {
      padding: 1em;
      background-color: #fff; }
      /* line 24, ../scss/mecab-admin.scss */
      .mecab-jumbotron .example pre .comment {
        color: #ccc; }
      /* line 27, ../scss/mecab-admin.scss */
      .mecab-jumbotron .example pre .keyword {
        color: #d16755; }
      /* line 30, ../scss/mecab-admin.scss */
      .mecab-jumbotron .example pre .string {
        color: #3888a5; }
      /* line 33, ../scss/mecab-admin.scss */
      .mecab-jumbotron .example pre .variable {
        color: #dd6b38; }
      /* line 36, ../scss/mecab-admin.scss */
      .mecab-jumbotron .example pre .method {
        color: #9d9d00; }

/* line 43, ../scss/mecab-admin.scss */
p.alert {
  color: red; }

/* line 47, ../scss/mecab-admin.scss */
.mecab-status {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%; }
  /* line 51, ../scss/mecab-admin.scss */
  .mecab-status caption {
    font-size: 1.5em;
    padding: 1em 0; }
  /* line 55, ../scss/mecab-admin.scss */
  .mecab-status th, .mecab-status td {
    padding: 1em 1.5em;
    background-color: #f9f9f9;
    border-left: 1px dotted #ddd; }
  /* line 61, ../scss/mecab-admin.scss */
  .mecab-status thead th {
    border-top: 3px double #ddd;
    border-bottom: 3px double #ddd; }
    /* line 64, ../scss/mecab-admin.scss */
    .mecab-status thead th:first-child {
      border-left: none; }
  /* line 70, ../scss/mecab-admin.scss */
  .mecab-status tbody th {
    white-space: nowrap;
    border-left: none; }
  /* line 74, ../scss/mecab-admin.scss */
  .mecab-status tbody th, .mecab-status tbody td {
    border-bottom: 1px solid #ddd; }
  /* line 78, ../scss/mecab-admin.scss */
  .mecab-status tbody tr:nth-child(odd) th, .mecab-status tbody tr:nth-child(odd) td {
    background-color: #ffffff; }
  /* line 83, ../scss/mecab-admin.scss */
  .mecab-status .status {
    text-align: center; }
  /* line 86, ../scss/mecab-admin.scss */
  .mecab-status .on, .mecab-status .off {
    display: inline-block;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-family: monospace; }
  /* line 93, ../scss/mecab-admin.scss */
  .mecab-status .on {
    background-color: #008000; }
  /* line 96, ../scss/mecab-admin.scss */
  .mecab-status .off {
    background-color: red; }

/* line 101, ../scss/mecab-admin.scss */
.result-window {
  background-color: #000;
  color: #fff;
  padding: 1em;
  font-family: monospace; }
  /* line 106, ../scss/mecab-admin.scss */
  .result-window h4 {
    font-weight: normal; }
  /* line 109, ../scss/mecab-admin.scss */
  .result-window .indicator {
    height: 1em;
    background-color: #444; }
    /* line 112, ../scss/mecab-admin.scss */
    .result-window .indicator div {
      background-color: #406d4a;
      height: 100%;
      width: 0; }

/* line 121, ../scss/mecab-admin.scss */
.loading .result-window {
  display: block; }

/* line 126, ../scss/mecab-admin.scss */
#form-message {
  height: 12em;
  line-height: 1.2;
  overflow: auto; }
  /* line 130, ../scss/mecab-admin.scss */
  #form-message span, #form-message strong {
    display: block; }
  /* line 133, ../scss/mecab-admin.scss */
  #form-message strong {
    color: red; }

/* line 138, ../scss/mecab-admin.scss */
.loading #form-message {
  background: url("../img/ajax-loader.gif") center center no-repeat; }

/* line 141, ../scss/mecab-admin.scss */
.finished #form-message {
  background: none; }

/* line 146, ../scss/mecab-admin.scss */
#mecab-admin-footer {
  position: relative;
  background-color: white;
  margin-top: 2em;
  padding: 2em;
  overflow: hidden;
  *zoom: 1; }
  /* line 154, ../scss/mecab-admin.scss */
  #mecab-admin-footer .fork-me {
    position: absolute;
    right: 0;
    top: 0; }
  /* line 160, ../scss/mecab-admin.scss */
  #mecab-admin-footer .fb-like-box {
    float: right;
    margin-left: 2em; }
  /* line 165, ../scss/mecab-admin.scss */
  #mecab-admin-footer ul {
    margin-right: 300px; }
    /* line 167, ../scss/mecab-admin.scss */
    #mecab-admin-footer ul li {
      margin: 10px 0; }
      /* line 169, ../scss/mecab-admin.scss */
      #mecab-admin-footer ul li a {
        display: block;
        padding: 10px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; }
        /* line 173, ../scss/mecab-admin.scss */
        #mecab-admin-footer ul li a:link {
          text-decoration: none; }
        /* line 176, ../scss/mecab-admin.scss */
        #mecab-admin-footer ul li a:hover {
          background-color: #f9f9f9; }
